@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes slide-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes slide-down {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes slide-in-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes slide-out-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

.slide-up {
    animation: slide-up 0.5s forwards;
}

.slide-down {
    animation: slide-down 0.5s forwards;
}

.slide-in-right {
    animation: slide-in-right 0.5s forwards;
}

.slide-out-right {
    animation: slide-out-right 0.5s forwards;
}
